@import "../variables.css";

.CountriesList_container {
    height: 100%;
    flex: 0 0 400px;
    background-color: var(--light-grey);
}

.CountriesList_list {
    outline: none;
}

.CountryOption_name {
    margin: auto 0;
    font-size: var(--font3);
}

.CountryOption_option {
    display: flex;
}

.CountryOption_selected {
    background-color: var(--light-blue);
}

.CountryOption_flagContainer {
    flex: 0 0 140px;
    margin: auto 0;
}
