@import "../variables.css";

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.spinner {
    margin: auto;
}

.name {
    margin: 5px auto;
    font-size: var(--font5);
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 250px;
    font-size: var(--font3);
}

.flagContainer {
    margin: 10px auto;
}

.fieldName {
    font-weight: bold;
}
